.cwebwidth_fix{
	width: 1000px;
}

.cnavfont{
	font-family:  "Microsoft YaHei",微软雅黑;
	color: #404040;
	font-size: 1.125em
}

.cnavuserfont{
	font-family:  "Microsoft YaHei",微软雅黑;
	color: #50c8aa;
	font-size: 1em
}

.crelativeright{
	position: relative;
    left: 50px;
}

.headerbg{
	
	height: 432px;
	background-image: url(../img/headbg.png);
	background-repeat: no-repeat;
}

.headersearch{
	width: 300px;
	height: 432px;
	background-color: black;
	opacity: 0.7;
}